<%- include('partials/improveHeaderSignout') -%>

<div id="content rD">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <h2 class="recipe-header"><%= recipeName%></h2>
      </div>
      <div class="row d-flex">
        <div class="col-sm-2">
          <div class="recipeDetails-d">
            Dish Type: <%= cuisines%>
          </div>
          <div class="recipeDetails-d">
            Cooking Time: <%= recipeCookingTime%> mins
          </div>
          <div class="recipeDetails-d">
            Dish Types: <%= dishTypes%>
          </div>
        </div>
        <div class="col-sm-2 stamps vege">
          <% if (vegetarian) { %>
          <div class="stamp-d">
            <p class="stamp-p">Vegetarian</p>
            <div class="stamp-i vegetarian">
              <img src="/assets/image/vegetarian.png" class="stamp-img" />
            </div>
          </div>
          <% } %>
          <% if (vegan) { %>
          <div class="stamp-d vega">
            <p class="stamp-p">Vegan</p>
            <div class="stamp-i vegan">
              <img src="/assets/image/vegan.png" class="stamp-img" />
            </div>
          </div>
          <% } %>
          <% if (glutenFree) { %>
          <div class="stamp-d gluten">
            <p class="stamp-p">Gluten Free</p>
            <div class="stamp-i glutenFree">
              <img src="/assets/image/gluten.png" class="stamp-img" />
            </div>
  
          </div>
          <% } %>
          <% if (dairyFree) { %>
          <div class="stamp-d dairy">
            <p class="stamp-p">Dairy Free</p>
            <div class="stamp-i dairyFree">
              <img src="/assets/image/dairy.png" class="stamp-img" />
            </div>
          </div>
          <% } %>
        </div>
        <div class="col-sm-4 recipe-header-div">
          <img src="<%= recipeImage%>" class="recipe-img" />
          <div class="row recipeDetails">
          </div>
        </div>
        <div class="col-sm-2 stamps-right">
          <% if (veryHealthy) { %>
          <div class="stamp-d healthy">
            <div class="stamp-i veryHealthy">
              <img src="/assets/image/heart.png" class="stamp-img" />
            </div>
            <p class="stamp-p">Very Healthy</p>
          </div>
          <% } %>
          <% if (cheap) { %>
          <div class="stamp-d chea">
            <div class="stamp-i cheap">
              <img src="/assets/image/cheap.png" class="stamp-img" />
            <div class="col-sm-2 user">
                <img class="userPic" src="/assets/image/facebook.svg">
                <p class="username">
                    Made by Spoonacular API
                </p>
                <div class="fav-btn-div">
                    <button><i class="fab fa-gratipay"></i>Add to Favourites</button>
                </div>
                <div class="liked">
                    <img src="/assets/image/like.png" class="likedPic">
                    <p class="liked-p">
                        3 people liked this recipe
                    </p>
                </div>
            </div>
            <p class="stamp-p">Cheap</p>
          </div>
          <% } %>
          <% if (veryPopular) { %>
          <div class=" stamp-d popular">
            <div class="stamp-i veryPopular">
              <img src="/assets/image/like.png" class="stamp-img" />
            </div>
            <p class="stamp-p">Very Popular</p>
          </div>
          <% } %>
          <% if (sustainable) { %>
          <div class="stamp-d sus">
            <div class="stamp-i sustainable">
              <img src="/assets/image/sustainable.png" class="stamp-img" />
            </div>
            <p class="stamp-p">Sustainable</p>
          </div>
          <% } %>
        </div>
        <div class="col-sm-2 user">
          <img class="userPic" src="/assets/image/facebook.svg">
          <p class="username">
            Made by Spoonacular API
          </p>
          <div class="liked">
            <img src="/assets/image/like.png" class="likedPic">
            <p class="liked-p">
              3 people liked this recipe
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <div class="ingredientsRow">
            <div class="ingredientsTitle">
              <h2>Ingredients</h2>
            </div>
            <div class="ingredients">
              <ol class="leftList">
                <%ingredients.forEach(query => {%>
                <li class="">
                  <div class='ingredientVals'>
                    <div>
                      <%=query.name %>
                    </div>
                    <div class="">
                      <%=query.value %> <%=query.unit %>
                    </div>
                  </div>
                </li>
                <%})%>
              </ol>
            </div>
          </div>
          <div class="equipmentRow">
            <div class="equipmentTitle">
              <h2>Equipment</h2>
            </div>
            <div class="equipment">
              <ol>
                <%equipment.forEach(query => {%>
                <li class="leftList">
                  <%=query.name %>
                </li>
                <%})%>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="instructionTitle">
            <h2>Instructions</h2>
          </div>
          <div class="instructions">
            <ol>
              <%instructions.map(query => {%>
              <li class="leftList">
                <%=query %>
              </li>
              <%})%>
            </ol>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="">
          <div class="nutritionalTitle">
            <h2>Nutritional Information</h2>
          </div>
          <div class="nutrition">
            <ul>
               <!-- <%for(let i = 0; i < 9; i++) {%>
                <li class="leftList">
                  <%=nutrition[i].title %>
                  <%=nutrition[i].amount %>
                  <%=nutrition[i].unit%>
                  <%=nutrition[i].percentOfDailyNeeds %>% of daily needs
                </li>
                <%}%> -->
              <%nutrition.forEach(query => {%>
                <li class="leftList">
                  <%=query.title %>
                  <%=query.amount %>
                  <%=query.unit %>
                  <%=query.percentOfDailyNeeds %>% of daily needs
                </li>
                <%})%>
              </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid commentsBox">
        <div>
          <div class="commentsTitle">
            <h2>
              Comments
            </h2>
          </div>
          <div class="commentsInsert">
           <div class="commentsInsertName"><%= username%></div>
           <div class="commentsInsertContainer">
          <textarea id="commentPostText" class="commentsInsertText"></textarea>
           </div>
           <div id="commentPostBtn" class="commentsPostBtnHolder">
            Post
           </div>
          </div>
          <div class="comments" id="commentsIn">
            <div class="commentAppended">
            <ul class="commentsUl">
            </ul>
          </div>
          </div>
        </div>
        <input type="hidden" id="userID" value="<%= userID%>" />
        <input type="hidden" id="username" value="<%= username%>" />
        <input type="hidden" id="recipeID" value="<%= recipeID%>" />
      </div>
    </div>
  </div>
  

<%- include('partials/improveFooter') -%>