<%- include('partials/header') -%>

<div id="tip">
    <p> If you register you can enjoy advanced features such as saving unlimited recipes and searching for
        different nutritional information!</p>
</div>

<div id="content">
    <div id="leftBar">
        <div id="leftTop">
            <h1><%= broadType %></h1>
            <div id="leftTop_child">
                <div class="leftTop_child_head"><a href=""><%= broadType %></a><span id="<%=broadType%>-id"
                        onclick="toggleBroadQuery(this)" class="hide-arrow"><i class="fas fa-angle-up"></i></span></div>
                <div class="leftTop_child_child">
                    <% queryList.forEach(query => { %>
                    <form id="<%= query %>-form" action="/<%=broadType%>/<%=query%>" method="post">
                        <li class="leftLi">
                            <a class="queryTag" href="#"
                                onclick="document.getElementById('<%=query %>-form').submit()"><%= query %></a>
                            <input type="hidden" name="<%=query%>Name" value="<%=query%>">
                        </li>
                    </form>
                    <% }) %>
                </div>
            </div>
        </div>
        <div id="leftBottom">
            <h1>FILTER</h1>
            <hr>
            <form action="/filter/<%=otherBroadType1%>/<%=otherBroadType2%>" method="post">
                <div class="filterDiv">
                    <div class="filterDivHead">
                        <h3><%=otherBroadType1%><span id="<%=otherBroadType1%>-id" onclick="toggleFilterQuery(this)"
                                class="hide-arrow"><i class="fas fa-angle-up"></i></span></h3>
                    </div>
                    <div class="filterDivContent">
                        <% otherBroadType1List.forEach(query => { %>
                        <div class="<%=otherBroadType1%>-id-query">
                            <input type="radio" name="<%=query%>-<%=otherBroadType1%>" id=""
                                onchange="this.form.submit()">
                            <label for="<%=query%>">
                                <%=query%>
                            </label><br>

                        </div>
                        <% }) %>
                        <hr>
                        <input type="hidden" name="broadType" value="<%=broadType %>">
                        <input type="hidden" name="specificType" value="<%=specificType %>">
                        <!-- <input type="hidden" name="otherBroadType1" value="<%=otherBroadType1%>">
                            <input type="hidden" name="otherBroadType2" value="<%=otherBroadType2 %>"> -->
                    </div>
                </div>
                <div class="filterDiv">
                    <div class="filterDivHead">
                        <h3><%=otherBroadType2%><span id="<%=otherBroadType2%>-id" onclick="toggleFilterQuery(this)"
                                class="hide-arrow"><i class="fas fa-angle-up"></i></span></h3>
                    </div>
                    <div class="filterDivContent">
                        <% otherBroadType2List.forEach(query => { %>
                        <div class="<%=otherBroadType2%>-id-query">
                            <input type="radio" name="<%=query%>-<%=otherBroadType2%>" id=""
                                onchange="this.form.submit()">
                            <label for="<%=query%>">
                                <%=query%>
                            </label><br>
                        </div>
                        <% }) %>
                        <hr>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div id="rightBar">
        <div id="rightContent">
            <div id="rightContentHead">
                <div>
                    <h1><%= broadType%> - <%= specificType%> (<%= numberOfRecipes%>)</h1>
                    <% if(showingOtherBroadType !== "" && showingOtherSpecificType !== ""){ %>
                    <h3><%= showingOtherBroadType %> - <%= showingOtherSpecificType %></h3>
                    <% } %>
                </div>

                <div class="slideContainer">
                    <form id="<%=specificType%>-number-form" action="/<%=broadType%>/<%=specificType%>/number"
                        method="post">
                        <p>Number of Recipes</p>
                        <input onchange="document.getElementById('<%= specificType %>-number-form').submit()"
                            type="range" name="numberOfRecipes" id="" min="1" max="100" value="<%=numberOfRecipes%>">
                        <input type="hidden" name="totalRecipes" value="<%= totalRecipes %>">
                    </form>
                </div>
            </div>
            <div id="rightContentContent">
                <% recipes.forEach(recipe => { %>
                <div class="rightContentEach">
                    <img src="<%= recipe.image %>" alt="">
                    <div class="rightContentEachTitle">
                        <!--Should direct to the each id route, and render stuff-->
                        <form id="<%=recipe.id%>-form" action="/recipes/<%=recipe.id%>" method="post">
                            <a href="#"
                                onclick="document.getElementById('<%=recipe.id%>-form').submit()"><%= recipe.title %>
                                <input type="hidden" name="idName" value="<%=recipe.id%>"></a>
                        </form>
                    </div>
                </div>
                <%}) %>
            </div>

        </div>

    </div>
</div>
</div>
</div>

<%- include('partials/footer') -%>