<%- include('partials/header') -%>

<div id="content">
    <div id="leftBar">
        <div id="leftTop">
            <h1><%= broadType %></h1>
            <div id="leftTop_child">
                <div class="leftTop_child_head"><a href=""><%= broadType %></a><span class="hide"><i
                            class="fas fa-angle-down"></i></span></div>
                <div class="leftTop_child_child">
                    <% queryList.forEach(query => { %>
                    <form id="<%= query %>-form" action="/<%=broadType%>/<%=query%>" method="post">
                        <li>
                            <a class="queryTag" href="#"
                                onclick="document.getElementById('<%=query %>-form').submit()"><%= query %></a>
                            <input type="hidden" name="<%=query%>Name" value="<%=query%>">
                        </li>
                    </form>
                    <% }) %>
                </div>
            </div>
        </div>
        <div id="leftBottom">
            <h1>Filter</h1>
        </div>
    </div>
    <div id="rightBar">
        <div id="rightContent">
            <div id="rightContentHead">
                <h1><%= broadType%> - <%= specificType%> (<%= numberOfRecipes%>)</h1>
            </div>
            <div id="rightContentContent">
                <% recipes.forEach(recipe => { %>
                <div class="rightContentEach">
                    <img src="<%= recipe.image %>" alt="">
                    <div class="rightContentEachTitle">
                        <!--Should direct to the each id route, and render stuff-->
                        <a href="http://localhost:4000/recipes/<%=recipe.id%>"><%= recipe.title %></a>
                    </div>
                </div>
                <%}) %>
            </div>
            <%- include('partials/footer') -%>
        </div>

    </div>
</div>
</div>
</div>