<%- include('partials/improveHeaderSignout') -%>
<div id="tip">
    <p> Recipe added successfully!</p>
</div>

<div class="window d-flex justify-content-center">
    <div class="profile-bg">
        <div class="row whole-profile">
            <div class="col-3">
                <div class="profile-left">
                   <!-- <span class="profile-pic"></span> -->
                    <h4><%= username %></h4>
                    <br>
                    <h4><%= email %></h4>
                    <br>
                    <% if (favCui === undefined || favCui === 'null') { %>
                        <br>
                    <% } else { %>
                        <h6>My Favourite Cuisine:</h6>
                        <form id="<%= favCui %>-form" action="/Cuisine/<%= favCui %>" method="post">
                            <a class="queryTag" onclick="document.getElementById('<%= favCui %>-form').submit()"><%= favCui %></a>
                            <input type="hidden" name="<%= favCui %>Name" value="<%= favCui %>">
                        </form>
                    <% } %>
                    <br>
                    <% if (diet === undefined || diet === 'null') { %>
                        <br>
                    <% } else { %>
                        <h6>My Diet Preference:</h6>
                        <form id="<%= diet %>-form" action="/Diet/<%= diet %>" method="post">
                            <a class="queryTag" onclick="document.getElementById('<%= diet %>-form').submit()"><%= diet %></a>
                            <input type="hidden" name="<%= diet %>Name" value="<%= diet %>">
                        </form>
                    <% } %>
                </div>
            </div>

            <div class="col-9">
                <div class="profile-right">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="pro-recipe-title">My Recipes</h3>
                            <% if (recipeArr.length === 0) { %>
                                <p>You haven't added any recipes yet!</p>
                                <p>Share your recipes <a href="http://localhost:4000/add-recipe">here</a></p>
                            <% } else { %>
                                <% for (let i = 0; i < recipeArr.length; i++) { %>
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="<%= recipeArr[i]['recipe_image'] %>" alt="<%= recipeArr[i]['recipe_name'] %>" class="added-recipe-photo">
                                        </div>
                                        <div class="col-8 d-flex align-items-center">
                                            <form id="<%=recipeArr[i]['recipe_id']%>-form" action="/recipes/<%=recipeArr[i]['recipe_id']%>" method="post">
                                                <a href="#"
                                                    onclick="document.getElementById('<%=recipeArr[i].recipe_id%>-form').submit()"><%= recipeArr[i]['recipe_name'] %>
                                                    <input type="hidden" name="idName" value="<%=recipeArr[i]['recipe_id']%>"></a>
                                            </form>
                                        </div>
                                    </div>
                                    <br>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="col-6">
                            <h3 class="pro-recipe-title">My Favourite Recipes</h3>
                            <% if (favArr.length === 0) { %>
                                <p>You haven't had any favourite recipes yet!</p>
                                <p>Explore <a href="http://localhost:4000">here</a></p>
                            <% } else { %>
                                    <% for (let i = 0; i < favArr.length; i++) { %>
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="<%=favArr[i][0].recipe_image%>" alt="<%=favArr[i][0].recipe_name%>" class="added-recipe-photo">
                                            </div>
                                            <div class="col-8 d-flex align-items-center">
                                                <form id="<%=favArr[i][0].recipe_id%>-form" action="/recipes/<%=favArr[i][0].recipe_id%>" method="post">
                                                    <a href="#"
                                                        onclick="document.getElementById('<%=favArr[i][0].recipe_id%>-form').submit()"><%= favArr[i][0].recipe_name %>
                                                        <input type="hidden" name="idName" value="<%=favArr[i][0].recipe_id%>"></a>
                                                </form>
                                            </div>
                                        </div>
                                        <br>
                                    <% } %>
                                <% } %>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/improveFooter') -%>