<!DOCTYPE html>
<html lang="en">

<head>

    <title>RecipeKing</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/tooplate-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/signInUp.css">

</head>


<%- include('partials/improveHeaderSignInUp') -%>
<div class="big-div">
    <div class="sign-up-container">
        <div class="sign-up-content">
            <h2 id="member">Be our member!</h2>
            <ul id="member-intro">
                <li>Save & comment on your favourite recipes</li>
                <li>Enjoy advanced filter function</li>
                <li>Upload your own recipes</li>
            </ul>
            <form action="/sign-up" method="POST" id="sign-up-form">
                <!-- email address -->
                <p class="labels">Email address*</p>
                <input type="text" name="email" class="textarea-sign-up" required>
                <!-- password -->
                <p class="labels">Password*</p>
                <input type="password" name="password" class="textarea-sign-up" required>
                <!-- username -->
                <p class="labels">Username*</p>
                <input type="text" name="username" class="textarea-sign-up" required>
                <!-- fav cuisine -->
                <p class="labels">Tell us your favourite cuisine!</p>
                <!-- fav cuisine drop down menu -->
                <div class="select-div">
                    <select name="favCuisine" id="fav-cuisine" class="select">
                        <option value="null"></option>
                        <% cuisineList.forEach(query => { %>
                        <option value="<%=query%>"><%=query%></option>
                        <% }) %>
                    </select>
                </div>
                <!-- diet -->
                <p class="labels">Do you have any special diet preference?</p>
                <!-- diet drop down menu -->
                <div class="select-div">
                    <select name="diet" id="diet" class="select">
                        <option value="null"></option>
                        <% dietList.forEach(query => { %>
                        <option value="<%=query%>"><%=query%></option>
                        <% }) %>
                    </select>
                </div>
                <!-- submit -->
                <input type="submit" value="Sign Up" id="sign-up-form-btn">
            </form>
        </div>
    </div>
</div>

<%- include('partials/improveFooter') -%>